@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background:hover {
  background-size: 400%;
  transition: colors 300ms;
  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
.phoneInput input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 10px;
}
